# OAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-next-auth-secret-key-replace-this-in-production

# Google OAuth
GOOGLE_CLIENT_ID=558794091221-c3b5jok4fk7hr7cl2sqg51elkb39f8f1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Backend API
BACKEND_URL=http://localhost:8000